.projects {
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 20px 0;
  color: var(--w);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.projects .title {
  font-size: 25px;
  text-align: center;
  margin-bottom: 40px;
}
.projects .title span {
  color: var(--w-l);
  font-size: 18px;
}
.projects .items {
  padding: 20px;
}
.projects .items .item {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.projects .items .item:first-child {
  width: 90%;
  flex-direction: row;
  column-gap: 40px;
  margin-bottom: 40px;
}
.projects .items .item:last-child {
  width: 90%;
  flex-direction: row-reverse;
  column-gap: 40px;
  margin-left: auto;
}
.projects .items .item .img-wrap {
  padding: 20px;
  border-radius: 20px;
  border: 1px solid var(--b);
}
.projects .items .item img {
  border-radius: 20px;
}
.projects .items .item .content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.projects .items .item .content > span {
  font-size: 25px;
}
.projects .items .item .content p {
  color: var(--w-l);
}
.projects .items .item .content .btn {
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: center;
  column-gap: 10px;
}
.projects .items .item .content .btn a:first-child {
  width: 170px;
  height: 100%;
  user-select: none;
  border: 1px solid var(--s1);
  border-radius: 7px;
  color: var(--w);
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}
.projects .items .item .content .btn a:first-child:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: var(--s1);
  z-index: -1;
  transition: var(--t);
}
.projects .items .item .content .btn a:first-child:hover:before {
  width: 100%;
}
.projects .items .item .content .btn a:first-child .icon {
  margin-left: 5px;
  display: flex;
  align-items: center;
  transition: var(--t);
}
.projects .items .item .content .btn a:first-child:hover .icon {
  transform: translateX(50%);
}

.projects .items .item .content .btn a:last-child {
  width: 170px;
  height: 100%;
  user-select: none;
  border: 1px solid var(--s);
  border-radius: 7px;
  color: var(--w);
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}
.projects .items .item .content .btn a:last-child:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: var(--s);
  z-index: -1;
  transition: var(--t);
}
.projects .items .item .content .btn a:last-child:hover:before {
  width: 100%;
}
.projects .items .item .content .btn a:last-child .icon {
  margin-left: 5px;
  display: flex;
  align-items: center;
  transition: var(--t);
}
.projects .items .item .content .btn a:last-child:hover .icon {
  transform: translateX(50%);
}

/* ---------------- */
@media screen and (max-width: 960px) {
  .projects .items .item {
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }
  .projects .items .item .img-wrap img {
    min-width: 310px;
  }
}
@media screen and (max-width: 815px) {
  .projects .items .item {
    display: block;
  }
  .projects .items .item .img-wrap {
    margin-bottom: 20px;
  }
}
